@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

html, body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    background: white;
    color:black;
    padding: 0;
    margin:0;
}

/* Nav Styles */
#nav-bar {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bold;
    background:white;
    position:sticky;
    width:100vw;
    display: flex;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#nav-list {
    list-style: none;
}
.nav-list-item {
    display: inline-block;
    margin:0 10px 0 0;
}
.nav-link {
    color:black;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: underline;
}
#nav-button {
    text-align:right;
    font-size: 20px;
}

/* Hero Styles */
#hero {
    width: 100vw;
}
.hero-content {
    width:100%;
    padding: 5%;
}
#hero-header {
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 0;
}
.hero-content-description {
    font-size: 25px;
    margin-top: 0;
}
#hero-image {
    display: block;
    margin: auto;
    width:100%;
}
#hero-button {
    font-size: 25px;
}

/* Content Section Styles */
#content-section {
    width:100%;
    background:blue;
    color: white;
}
/* #content-image {} */

/* Footer Styles */
#footer {
    width:100vw;
    background:darkslategrey;
    color:white;
    position: relative;
}
.footer-link {
    color:white;
    text-decoration: underline;
}

/* Grid Styles */
.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
    .two-col-grid {
        grid-template-columns: 1fr;
    }
    .hero-content {
        align-items:center;
        justify-content: center;
        text-align: center;
        margin:0;
        padding:0;
    }
    #nav-bar {
        display:none;
    }
}

/* Element Styles */
/* p {} */
/* img {} */
.contact-button {
    color:white;
    background: red;
    font-weight:bold;

    padding: 5px;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}