<!--<header>
    <div class="navbar">
        <a href="/">
            <img class="logo-image" src="/images/scarab.png">
        </a>
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <div class="dropdown">
                <button class="dropbtn">Our Team</button>
                <div class="dropdown-content">
                    <a href="/design">Design Team</a>
                    <a href="/programming">Programming Team</a>
                    <a href="/public-relations">Public Relations Team</a>
                </div>
            </div>
            <a href="/robot">The Robot</a>
            <a href="/sponsors">Sponsors</a>
        </nav>
    </div>
</header>-->

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/scarab.png" height="34" class="d-inline-block align-text-top">
                Scarabs
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/about">About</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Our Team
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/design">Design Team</a>
                            <a class="dropdown-item" href="/programming">Programming Team</a>
                            <a class="dropdown-item" href="/public-relations">Public Relations Team</a>
                        </div>
                    </div>
                    <a class="nav-link" href="/robot">The Robot</a>
                    <a class="nav-link" href="/sponsors">Sponsors</a>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <i class="bi-instagram" style="color: white"></i>
            <i class="bi-twitter" style="color: white"></i>
            <i class="bi-github" style="color: white"></i>
        </div>
    </nav>
</header>